label[for=select] {
  display: block;
  margin: 28px 0 14px;
}

.standfirst {
  font-size: 24px;
}

.chart-outer {
  width: 100%;
}

.chart-note {
  font-size: 0.8em;
  color: rgb(102, 102, 102);
  min-height: auto !important;
  margin-top: 8px;
}

.section-warning .ons-panel {
  border-top: 1px solid #222 !important;
  border-bottom: 1px solid #222 !important;
  padding: 24px 0;
}

.ons-panel__icon {
  top: 50%;
  transform: translateY(-50%);
}

.chart-footer {
  color: rgb(102, 102, 102) !important;
}

.chart-label {
  font-weight: bold;
}

button, input, optgroup, select, textarea {
  font-family: 'OpenSans', 'Helvetica Neue', arial, sans-serif !important;
}

.ons-metadata {
  margin: 32px 0 -24px !important;
}

h1.ons-u-fs-xxxl {
  font-size: 38px;
  line-height: 48px;
}

.autocomplete__dropdown-arrow-down {
  color: var(--ons-color-black);
}